{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="hero">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <ul class="menu-spec">
                <li class="menu-list-item">
                    <a href="#">1 курс</a>
                    <ul class="navbar-menu">
                        {% for discipline in disciplines %}
                        {% if discipline.course == '1' %}
                        <li><a href="{{ discipline.get_absolute_url }}">{{ discipline.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-list-item">
                    <a href="#">2 курс</a>
                    <ul class="navbar-menu">
                        {% for discipline in disciplines %}
                        {% if discipline.course == '2' %}
                        <li><a href="{{ discipline.get_absolute_url }}">{{ discipline.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-list-item">
                    <a href="#">3 курс</a>
                    <ul class="navbar-menu">
                        {% for discipline in disciplines %}
                        {% if discipline.course == '3' %}
                        <li><a href="{{ discipline.get_absolute_url }}">{{ discipline.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 d-flex align-items-center">
            <div class="container">
                    <h2 class="video-block-title">Недавно добавленные видеоуроки</h2>
                    <div class="row page paginationTable">
                        {% for post in posts %}
                        <div class="col-lg-4 col-md-6 col-sm-12 video-center d-flex">
                            <div class="video-bg num tableItem" >
                             <a style="margin: 0 0 10px 0;" href="{{ post.get_absolute_url}}"><img src="{{ post.image.url }}" alt=""></a>
                                <div class="text-video">
                                    <h6 class="video-title">{{ post.title }}</h6>
                                    <div class="views-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="pagination-container">
                        <p class='paginacaoCursor' id="beforePagination"><</p>
                        <p class='paginacaoCursor' id="afterPagination">></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


